# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Sensitive files
.env
.env.*
*.pem
*.key

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# OS/editor temporary files
*.swp
*.swo
*~

